<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Trivia Game</title>
  <link rel="stylesheet" href="/css/jass.css">
  <script src="https://cdn.jsdelivr.net/npm/spin-wheel@5.0.1/dist/spin-wheel-iife.js"></script>
  <script defer src="https://unpkg.com/tone"></script>
  <script defer src="/js/script.js"></script>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Gettin' Trivvy Wit It
    </h1>
    {{#if loggedIn}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <div class="wheel-container"></div>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
