<script src="https://cdn.jsdelivr.net/npm/spin-wheel@5.0.1/dist/spin-wheel-iife.js"></script>
<script defer src="/js/quiz.js"></script>
<div id="sound" class="wheel-container"></div>

{{#each questions as |question| }}
<div class="text-center align-center mb-5">
  <div class="d-flex justify-content-center">
    <div id="quiz" class="d-flex align-items-center flex-column"></div>
</div>
{{/each}}
<button id="submit" class="btn btn-dark btn-lg custom-btn">Spin</button>
<button id="restart" class="btn btn-dark btn-lg custom-btn">Restart</button>
