<h2>Question: {{question.name}}</h2>
<div id="choices">
    {{#each question.choices as |choice|}}
        <button class="btn btn-primary {{#if choice.correct}}correct{{/if}}">{{choice.text}}</button>
    {{/each}}
</div>
