<h2>Question: {{question.name}}</h2>
<div class="question-card">
    <h2>Question: {{question.name}}</h2>
    <div id="choices">
        {{#each question.choices as |choice|}}
        <button class="btn btn-primary choice-btn {{#if correct}}correct{{/if}}">{{choice.text}}</button>
        {{/each}}
    </div>
</div>